body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    font-family: 'Playfair Display', serif;
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
}

article {
    background: rgb(237, 221, 247);
    padding: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #333;
    color: #fff;
}

button {
    font-size: medium;
}
form {
    font-size: medium;
    color: #fff;
}

input[type=text], input[type=text] {
    font-size: medium;
    color: #fff;
}

input[type=submit] {
    font-size: larger;
}
